.step-list {
  margin-top: 20px;
}
.step-list h3 {
  font-size: 20px;
  font-weight: bold;
}

.step-list-item p {
  float: left;
  padding-left: 30px;
}

.step-form input[type="text"]{
  width: calc(100% - 22px);
}

.step-form input[type="submit"]{
  float: right;
}

.step-delete {
  float: right;
}
