/*.todo-list {
  width: 300px;
  margin: 50px auto;
}*/

.todo-list-item {
  width: 100%;
  border: 1px solid orange;
  margin-bottom: 10px;
}

.todo-list-item h2 {
  display: block;
  float: left;
  width: 240px;
  font-size: 24px;
  font-weight: bold;
}

.done-button {
  width: 60px;
  float: right;
}

.todo-list-form {
  width: 100%;
}

.delete-button {
  float: right;
  margin-bottom: 5px;
}
